<template>
	<div class="view-image">
		<transition name="loading-fade" >
			<div class="popup-overlay" v-show="showPopup" @click="showPopup = false"></div>
		</transition>
		<transition name="loading-scale-fade" >
			<div class="popup-container" v-show="showPopup">
				<img :src="displaySrc" alt="">
			</div>
		</transition>
	</div>
</template>

<script>

export default {
	name: "view-image",
	data() {
		return {
			showPopup: false,
			displaySrc: ''
		}
	},
	methods: {
		viewImage(e, url){
			console.log(this, arguments)
			this.showPopup = true
			this.displaySrc = url
		}
	}
}
</script>

<style lang="less" scoped>
.popup-overlay{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	transition: 0.25s opacity;
}
.popup-container{
	position: fixed;
	max-height: 100%;
	z-index: 902;
	transition: 0.3s all;
}



.loading-scale-fade-enter,
.loading-scale-fade-leave-active {
	transform: scale(0);
	will-change: transform;
}
.loading-fade-enter,
.loading-fade-leave-active {
	opacity: 0;
	will-change: opacity;
}
</style>
