<template>
	<div class="expand-fn">
		<input
			@change="fileChange($event)"
			type="file"
			id="upload_file"
			multiple
			style="display: none"
		/>
		<svg-icon :icon="item.icon" size="24" :color="theme" v-for="item in sendFnList"
			:key="item.icon"
			@click="clickInterFn(item.send_type)" />
		<Modal
			:title="modalOption.modalTitle"
			:mask-closable="false"
			class="message-type"
			v-model="modalOption.showModal"
			@on-ok="interSendFn(true)"
			@on-cancel="interSendFn(false)"
			style="font-size:16px;max-height: 400px;"
		>
			<div class="customArticle" v-if="modalOption.showByType === 'diy_link'">
				<p>标题</p>
				<el-input
					v-model.trim="modalOption.interCont"
					style="width: 100%;padding: 12px 20px;"
				/>
				<p>链接</p>
				<el-input v-model.trim="modalOption.interLink" style="width: 100%;padding: 12px 20px;" />
			</div>

			<div class="image-area" v-if="modalOption.showByType === 'show_image'">
				<img :src="sendImgOption.imgList[0].file.src" alt="">
			</div>
		</Modal>
	</div>
</template>

<script>
import SvgIcon from '../icon';
import { termValidity } from '@/libs/ossTermValidity';
export default {
	name: "expand-fn",
	props: {
		theme: {
			type: String,
			default: '#2d8cf0'
		},
		// 发送其他类型的消息(不包含文字)
		sendOtherTypeMsg: {
			type: Function,
			required: true
		}
	},
	components: { SvgIcon },
	data: () =>({
		// 发送图片的配置
		sendImgOption: {
			limit: undefined,
			imgList: []
		},
		modalOption: {
			showModal: false,
			// 标题
			modalTitle: '',
			// 显示类型(内容)
			showByType: '',
			// 推送的内容
			interCont: '',
			// 推送的链接
			interLink: '',
			// 推送的标题
			interTitle: '',
			// 点击推送弹框确认时所带信息
			interactiveList: []
		},
		sendFnList: [
			{ icon: 'image', send_type: 8 },
			// { icon: 'link', send_type: 2 }
		]
	}),
	mounted(){
		this.pasteImage()
	},
	methods: {
		// 发送消息交互区
		clickInterFn(send_type) {
			console.log(1, send_type, 'send_type')
			switch (send_type) {
				case 8:
					document.getElementById('upload_file')
					.click()
					break
				case 2:
					this.modalOption.showModal = true
					this.modalOption.showByType = 'diy_link'
					this.modalOption.interTitle = ''
					this.modalOption.interLink = ''
					this.modalOption.interCont = ''
					this.modalOption.interactiveList = [
						{
							text: '点击查看详情',
							interactive_type: 0,
							link_url: '',
							style: 0
						}
					]
					break
			}
		},
		// 点击交互区发送
		interSendFn(flag) {
			if(!flag){
				this.modalOption.showByType = ''
				this.modalOption.modalTitle = ''
				this.modalOption.interactiveList = []
				return;
			}
			switch (this.modalOption.showByType) {
				case 'show_image':
					this.uploadImageFn()
					return;
				case 'diy_link':
					this.sendDiyLinkFn()
			}
		},
		// 发送自定义链接
		sendDiyLinkFn(){
			let interSendData = {
				dialog_tid: this.dialog_tid,
				mcontent: this.modalOption.interCont,
				title: this.modalOption.interTitle,
				type: 2,
				interactive_area_list: this.modalOption.interactiveList
			}
			if (this.modalOption.showByType === 'diy_link') {
				let regex = /^(https?:\/\/(([a-zA-Z0-9]+-?)+[a-zA-Z0-9]+\.)+[a-zA-Z]+)(:\d+)?(\/.*)?(\?.*)?(#.*)?$/
				if (!regex.test(this.modalOption.interLink)) {
					this.$message.warning({
						content: '请输入以http、https开头的网址'
					})
					return
				}
				interSendData.interactive_area_list[0].link_url = this.modalOption.interLink
				interSendData.title = '文章信息'
			}
			this.sendOtherTypeMsg(interSendData)
		},
		// 复制粘贴图片
		pasteImage() {
			let _this = this
			document.addEventListener('paste', function (event) {
				let items = (event.clipboardData || window.clipboardData).items
				let file = null
				if (items && items.length) {
					// 搜索剪切板items
					for (let i = 0; i < items.length; i ++) {
						if (items[i].type.indexOf('image') !== - 1) {
							// $('.tupian')
							// .css('display', 'none')
							file = items[i].getAsFile()
							_this.modalOption.showModal = true
							_this.modalOption.showByType = 'show_image'
							_this.modalOption.modalTitle = '发送图片'
							_this.fileAdd(file, 'paste')
							break
						}
					}
				} else {
					this.$message.warning('当前浏览器不支持复制图片')
					// container.innerHTML = '<span style="color:red;">当前浏览器不支持复制图片</span>';
					return
				}
				if (!file) return
				// 此时file就是我们的剪切板中的图片对象

				// 如果需要预览，可以执行下面代码
				// let reader = new FileReader()
				// reader.onload = function(event) {
				// 	container.innerHTML = `<img src="${event.target.result}" width="100%" height="100%" class="upload-image">`;
				// }
				// reader.readAsDataURL(file);
				// 如果不需要预览，上面这段可以忽略
			})
		},
		async uploadImageFn() {
			let imgSrc = await termValidity(this.sendImgOption.imgList[0].file.src)
			let sendImgData = {
				dialog_tid: this.dialog_tid,
				mcontent: '',
				type: 8,
				images: JSON.stringify([imgSrc]),
				image_url: this.sendImgOption.imgList[0].file.src
			}
			await this.sendOtherTypeMsg(sendImgData)
			// this.sendImgOption.imgList = []
		},
		fileChange(el) {
			if (!el.target.files[0].size) return
			let files = el.target.files

			if (files.length >= 2) {
				return this.$message.warning('一次只能发送一张图')
			}

			for (let i = 0; i < files.length; i ++) {
				//判断是否为文件夹
				if (files[i].type !== '') {
					this.fileAdd(files[i], 'upload')
				} else {
					this.$message.warning('请选择图片，再进行发送')
				}
			}
			el.target.value = ''
		},

		fileAdd(file, type) {
			if (this.sendImgOption.limit !== undefined) this.sendImgOption.limit --
			if (this.sendImgOption.limit !== undefined && this.sendImgOption.limit < 0) return
			//判断是否为图片文件
			if (file.type.indexOf('image') === - 1) {
				return this.$message.warning('请选择图片，再进行发送')
			} else {
				let reader = new FileReader()
				let image = new Image()
				let _this = this
				reader.readAsDataURL(file)
				reader.onload = function (e) {
					// console.log(file, 'ss')
					file.src = this.result
					switch (type) {
						case 'upload':
							image.onload = function () {
								let width = image.width
								let height = image.height
								file.width = width
								file.height = height
								_this.sendImgOption.imgList.splice(0, _this.sendImgOption.imgList.length)
								_this.sendImgOption.imgList.push({
									file
								})
								_this.modalOption.showModal = true
								_this.modalOption.showByType = 'show_image'
								_this.modalOption.modalTitle = '发送图片'
								// console.log(_this.imgList, 'upload')
							}
							image.src = file.src
							break
						case 'paste':
							image.onload = function () {
								_this.sendImgOption.imgList.splice(0, Infinity)
								_this.sendImgOption.imgList.push({
									file
								})
								_this.$nextTick(() =>{
									_this.modalOption.showModal = true
									_this.modalOption.showByType = 'show_image'
									_this.modalOption.modalTitle = '发送图片'
								})
								// console.log(_this.imgList, 'upload')
							}
							image.src = file.src
							break
					}
					// console.log(_this.imgList, '_this.imgList')
				}
			}
		},
	}
}
</script>

<style lang="less" scoped>
	.expand-fn{
		.svg-icon{
			margin-right: 10px;
			&:first-of-type{
				margin-left: 10px;
			}
		}
	}
	.image-area{
		width: 100%;
		height: 100%;
		max-height: 500px;
		img{
			width: inherit;
			height: inherit;
			max-height: inherit;
			object-fit: scale-down;
		}
	}
</style>
