<template>
	<div class="upload-image" style="display: flex;flex-wrap: wrap;">
		<input

			:id="id"
			type="file"
			style="display: none"
			name="single"
			:accept="acceptInfo[fileType]"
			:multiple="multiple"
			@change="onChange"
		/>
		<ul class="selected-img-list">
			<draggable v-model="fileList" class="selected-img-list">
				<li v-for="item in fileList" :key="item.tid">
					<i class="trash" @click="delUploadImg(item)" />
					<img
						v-if="fileType === 'image'"
						:src="item.file_src" alt="点击查看"
						:data-original="item.file_src"
						@click="() =>{
							$emit('viewImage', '.selected-img-list')
							viewImageFn('.selected-img-list')
						}">
					<p class="file-name" v-else>{{ item.file_name || item.osskey }}</p>
				</li>
			</draggable>
		</ul>
		<el-button class="upload-image-btn"
			size="small"
			:loading="loading"
			@click="handleOpenFile"
			:disabled="fileList.length >= maxFileLength">
			<i class="camera"/>
		</el-button>
		<div v-if="tips" class="tips clear-margin-top">{{ tips }}</div>
	</div>
</template>

<script>
// 上传文件组件
import {
	UploadConfig
} from './upload-config'
import { termValidity } from '@/libs/ossTermValidity';
import draggable from 'vuedraggable'
import Viewer from "viewerjs";
import { GetOSSPolicyAndSignForMiniApp } from '@/api/api_public';

export default {
	name: "upload-image",
	components: {
		draggable
	},
	model: {
		prop: 'value',
		event: 'on-change'
	},
	props: {
		// 使用 v-model 进行双向绑定数据
		value: {
			type: Array,
			required: true,
			default: null
		},
		// 文件类型: [image, xslx] 默认 image
		fileType: {
			type: String,
			required: false,
			default: 'image'
		},
		// 是否多选
		multiple: Boolean,
		/**
		 * 最大上传数 默认 999
		 */
		maxFileLength: {
			type: Number,
			default: 9999
		},
		// 最大上传文件的大小 单位（MB）
		maxFileSize: {
			type: Number,
			default: 2
		},
		// 提示内容
		tips: {
			type: String
		},
		// 图片文件分辨率的宽度
		width: {
			type: Number,
			require: false,
			default: 0
		},
		// 图片文件分辨率的高度
		height: {
			type: Number,
			require: false,
			default: 0
		},
		// 是否限制分辨率
		isResolution: {
			type: Boolean,
			default: false
		},
		// 是否限制比列
		isRatio: {
			type: Boolean,
			default: false
		},
		// 比列 ag: 1:1 时给 [1,1]
		ratio: {
			type: Array
		}
	},
	data() {
		return {
			id: 'uploadFn-input-' + + new Date(),
			loading: false,
			acceptInfo: {
				image: 'image/*',
				xslx: '.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'
			},
			// 临时文件
			tmpHashFiles: [],
			fileList: [],
			defImgLen: 0,
			isDisabledUpload: false,
			uploadAliOSSConfig: null
		}
	},
	watch: {
		value: {
			// deep: true,
			immediate: true,
			handler(v, ov) {
				// if((v && ov) && v.length === ov.length)return;
				if (!v || v.length <= 0) {
					this.fileList = v
					this.tmpHashFiles = []
					return
				}
				if(v.some(item => !item['file_src'] && !item['osskey'])){
					console.log(v, '无效')
					throw '该文件无效, 跳过无效的文件. eg: [{file_src: "", osskey: ""}]'
				}
				if(v.some(item => !item['file_src'] || !item['osskey'])){
					throw '缺少 file_src || osskey, eg: [{file_src: "", osskey: ""}]'
				}else {
					this.fileList = v
					this.tmpHashFiles = this.fileList.map(item => ({
						hash_name: item.file_name,
						hash_osskey: item.osskey
					}))
					// console.log(this.fileList, this.tmpHashFiles)
				}

				// this.fileList.splice(0, Infinity, ...v)
			}
		},
		fileList(v) {
			// this.fileList = v.map(item => ({ ...item, file_name: item.osskey }))
			this.$emit('on-change', this.fileList)
		}
	},
	methods: {
		// 删除已上传的图片
		delUploadImg(item){
			// 只能使用 hash_name, 因为上传前还不知道 osskey
			this.tmpHashFiles = this.tmpHashFiles.filter(hash_item =>hash_item.hash_name !== item.file_name)
			this.fileList = this.fileList.filter(file_item =>file_item.osskey !== item.osskey)
		},
		// 打开文件
		handleOpenFile() {
			this.defImgLen = this.fileList.length
			const input = document.getElementById(this.id)
			// 解决同一个文件不能监听的问题
			input.addEventListener('click',
				function () {
					this.value = ''
				},
				false
			)
			// 点击input
			input.click()
		},
		/**
		 * 限制上传
		 * @param len     {number}    即将上传的数量
		 * @return {boolean}    {boolean}   true: 限制(不可以上传)  false: 不限制(可以)
		 */
		limitUploadFn(len) {
			if (this.fileList.length + len > this.maxFileLength) {
				this.$message.warning(`最多可上传${ this.maxFileLength }张图片`)
				this.isDisabledUpload = true
				this.loading = false
				return true
			} else {
				this.isDisabledUpload = false
				return false
			}
		},

		// 选择好文件
		async onChange($event) {
			this.loading = true
			const isImageType =  this.fileType === 'image'
			if(this.limitUploadFn($event.target.files.length))return
			try {
				this.uploadAliOSSConfig = JSON.parse(sessionStorage.getItem('oss'))
			}catch (e) {
				this.uploadAliOSSConfig = null
			}
			if(!this.uploadAliOSSConfig || parseInt(+new Date() / 1000) > parseInt(this.uploadAliOSSConfig.expire)){
				this.$Load.show({
					el: document.querySelector('.upload-image'),
					content: '正在加载配置信息'
				})
				let dat = await GetOSSPolicyAndSignForMiniApp()
				this.$Load.close()
				sessionStorage.setItem('oss', JSON.stringify(dat.data))
			}

			const uploadConfig = new UploadConfig()
			for (const file of $event.target.files) {
				uploadConfig.setFile(file)
				// console.log(this.tmpHashFiles, 'this.tmpHashFiles')
				if (this.tmpHashFiles.some(item => file.name === item.hash_name)) {
					this.$message.warning(file.name + '已存在')
					this.loading = false
					continue
				}
				this.tmpHashFiles.push({
					hash_name: file.name,
					hash_osskey: ''
				})
				if (!file) {
					this.loading = false
					return this.$message.error('选择文件失败')
				}

				// 限制为图片文件
				if (isImageType && !uploadConfig.isImageFileFn()) {
					this.loading = false
					return
				}

				// 限制文件上传大小
				if (uploadConfig.isMaxFileSizeFn(this.maxFileSize)) {
					this.loading = false
					return
				}

				try {
					// 限制分辨率
					if (isImageType && this.width !== 0 && this.height !== 0 && this.isResolution) {
						await uploadConfig.isAppropriateResolutionFn({
							width: this.width,
							height: this.height
						})
					}

					// 限制比列
					if (isImageType && this.isRatio && this.ratio && this.ratio.length === 2) {
						await uploadConfig.isAppRatioFn(this.ratio)
					}
					// 开始上传
					let file_src = await uploadConfig.readFileFn()
					// let imgInfo = await uploadConfig.loadImageFn(file_src)
					// console.log(imgInfo)
					// return
					await this.uploadFn(file_src, file.name, $event.target.files.length + this.defImgLen)
				} catch (error) {
					this.$message.error(error.message || '上传失败')
					console.log(error)
					this.loading = false
				}
			}
		},
		// 自定义上传
		async uploadFn(file_src, file_name, total_len) {
			try {
				this.isDisabledUpload = true
				const osskey = await termValidity(file_src, this.fileType)
				if(!osskey){
					this.tmpHashFiles.pop()
					this.$message.error('上传失败')
					this.loading = false
					return
				}
				this.isDisabledUpload = false
				this.fileList.push({
					tid: Number(Math.random()
					.toString()
					.substr(3, 6) + Date.now())
					.toString(22),
					osskey,
					file_name,
					file_src
				})
				this.$message.success(this.tmpHashFiles[this.tmpHashFiles.length - 1].hash_name + '上传成功')
				const findHashFileIndex = this.tmpHashFiles.findIndex(item => item.hash_name === file_name)
				if(findHashFileIndex >= 0){
					this.$set(this.tmpHashFiles, findHashFileIndex, {
						hash_name: this.tmpHashFiles[findHashFileIndex].hash_name,
						hash_osskey: osskey
					})
				}
				// console.log(this.tmpHashFiles.length, this.fileList.length, this.defImgLen, total_len)
				this.loading = !(this.fileList.length === total_len)
			} catch (error) {
				this.loading = false
				console.error(error, 111111)
				this.$message.error(error.message || '上传失败')
			}
		},
		/**
		 * 点击放大图片
		 * @param className 必须 传入相关类名(自身) 或者 父类名
		 * @param is_filter_pic    非必须 是否过滤聊天头像 默认过滤
		 */
		viewImageFn(className, is_filter_pic = true) {
			if (this.viewer) {
				this.viewer.destroy();
			}
			let ViewerDom = document.querySelector(className);

			console.log(ViewerDom)

			if (is_filter_pic) {
				// console.log('ViewerDom', $(ViewerDom))
				this.viewer = new Viewer(ViewerDom, {
					backdrop: true,
					filter(e) {
						return !!e.getAttribute('data-original')
					}
				})
			} else {
				// 正常显示
				this.viewer = new Viewer(ViewerDom, {
					backdrop: true
					// url: { url: 'data-original' }
				})
			}
		}

	}
}
</script>

<style lang="less" scoped>
.upload-image{
	i{
		width: 20px;
		height: 20px;
		display: inline-block;
	}

	i.camera{
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%23409eff' d='M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z'%3E%3C/path%3E %3C/svg%3E");
	}
	i.trash{
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E %3Cpath fill='%23f56c6c' d='M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z'%3E%3C/path%3E %3C/svg%3E") no-repeat;
	}
}
.upload-image-btn {
	width: 58px;
	height: 58px;
	background: #fff;
	border: 1px dashed #dcdee2;
	border-radius: 4px;
	text-align: center;
	position: relative;
	overflow: hidden;
	-webkit-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
	outline: none;
	&:hover {
		border: 1px dashed #2d8cf0;
	}
}

.custom-upload {
	.tips {
		margin-top: 10px;
		color: red;
		font-size: 12px;
	}

	.clear-margin-top {
		margin-top: 0;
	}
}


.selected-img-list {
	display: flex;
	flex-wrap: wrap;

	li {
		width: 88px;
		height: 88px;
		margin: 0 6px 6px 0;
		background: #fff;
		border-radius: 8px;
		cursor: pointer;
		position: relative;
		-webkit-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;

		& > i.trash {
			position: absolute;
			right: -5px;
			top: -5px;
			opacity: 0;
			z-index: 1;
			transition: opacity 0.3s, transform 0.4s;
			cursor: pointer;
			transform: scale(.2);

			&:hover {
				transform: scale(1.2) !important;
			}
		}

		&:hover .trash {
			opacity: 1;
			transform: scale(1);
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			object-fit: contain;
		}
	}
	.file-name{
		text-overflow: ellipsis;
		display: -webkit-box;
		overflow: hidden;
		/*! autoprefixer: off */
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		word-break: break-all;

	}
}
</style>
