<template>
	<el-popover
		:trigger="trigger"
		:placement="placement"
		:width="width"
		:popper-class="C_PopperClass.join(' ')"
		:disabled="disabled"
		:popper-options="{ boundariesElement: 'body', gpuAcceleration: false }"
		v-model="visible">
		<div v-show="hasTitle" :class="{ 'mb-10': hasContent }" :style="hasContent ? {'font-size': '16px'}:{}">
			<span :class="{'el-icon-question': confirm && !hideIcon}" :style="{color: iconColor}"></span>
			{{ title }}
			<slot name="title"/>
		</div>
		<div v-show="(hasContent) && !confirm">
			{{ content }}
			<slot name="content"/>
		</div>

		<div class="handle-area" v-if="confirm">
			<el-button size="mini" type="text" @click="poptipConfirm(false)">取消</el-button>
			<el-button :loading="loading" type="primary" size="mini" @click="poptipConfirm(true)">确定</el-button>
		</div>
		<slot name="default" slot="reference"/>
	</el-popover>
</template>

<script>
export default {
	// Poptip 组件
	name: "el-poptip",
	props: {
		trigger: String,
		placement: String,
		width: String,
		title: String,
		content: String,
		disabled: Boolean,
		loading: Boolean,
		confirm: Boolean,
		popperClass: String,
		hideIcon: {
			type: Boolean,
			default: false
		},
		iconColor: {
			type: String,
			default: '#f90'
		}
	},
	data() {
		return {
			visible: false
		}
	},
	computed: {
		hasTitle() {
			return this.$slots.title || this.title
		},
		hasContent() {
			return this.$slots.content || this.content
		},
		C_PopperClass({ popperClass }){
			let arr = new Set(['el-poptip'])
			if(popperClass){
				arr.add(popperClass)
			}
			return [...arr]
		}
	},
	methods: {
		poptipConfirm(flag) {
			this.visible = false
			if (!flag) {
				this.$emit('on-cancel')
				return
			}
			this.$emit('on-ok')
		}
	}
}
</script>

<style lang="less" scoped>
.handle-area {
	margin-top: 6px;
	padding-top: 6px;
	border-top: 1px dashed #e5e5e5;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	::v-deep {
		.el-button--mini {
			&:last-child {
				padding: 6px 10px;
			}
		}
	}
}
</style>
<style lang="less">
.el-poptip {
	&.el-popover--plain {
		padding: 12px 14px;
	}
}
</style>
