.pd-30 {
	--radio: 2;
	padding: calc(30px / 2);
}
.theme-loading{
	&:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: var(--theme);

		border-radius: 100%;
		-webkit-animation: scaleout 1.0s infinite ease-in-out;
		animation: scaleout 1.0s infinite ease-in-out;
	}
}

.first-loading{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: rgba(255, 255, 255, 0.25);
	z-index: 9;
	&.theme-loading{
		&:after{
			left: 0;
			right: 0;
			width: 60px;
			height: 60px;
		}
	}
}
.chat-container{
	//height: calc(100vh - 49px);
	background: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.row{
	text-align: center;
}
// 消息列表
.msg-list-w {
	height: 100%;
	box-sizing: border-box;
	//padding: 8px 15px;
	-webkit-transition: height 0.2s ease-in;
	-moz-transition: height 0.2s ease-in;
	-ms-transition: height 0.2s ease-in;
	-o-transition: height 0.2s ease-in;
	transition: height 0.2s ease-in;
	font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
	::v-deep.refresh-more-container{
		&::-webkit-scrollbar-track-piece {
			background: #f1f1f1;
		}

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: #c1c1c1;
			border-radius: 20px;
		}
		/*滚动条两端方向按钮*/
		&::-webkit-scrollbar-button {
			//background-color: pink;
		}
	}

	li{
		padding-bottom: 30px;
		padding-top: 20px;
		&:last-child{
			//padding-top: 14px;
			margin-bottom: ~"calc(var(--bottom-diff) * 1px)";
		}
	}
	.pic-img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	// 每行公共样式
	.msg-line {
		position: relative;
		.username{
			color: #333;
			font-weight: bold;
			font-size: 14px;
		}
		.chat-cont-layout{
		display: flex;
		text-align: left;
		}
		.msg-content {
			max-width: 226px;
			font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
			font-size: 14px;

			pre.pre {
				font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
				margin: 0 auto;
				white-space: pre-wrap; /* css-3 */
				white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
				//white-space: -pre-wrap;      /* Opera 4-6 */
				white-space: -o-pre-wrap; /* Opera 7 */
				word-wrap: break-word; /* Internet Explorer 5.5+ */
				overflow: auto;
				word-break: break-all;
				word-wrap: break-word;
				line-height: 20px;
				font-size: 14px;

				&::selection {
					background: #434343;
					color: #f1f1f1;
				}
			}
		}

		// 卡片
		.fenxiang {
			width: 230px;
			background: #F0F0F0;
			border-radius: 0px 5px 5px 5px;
			padding: 15px 26px 15px 16px;
			font-size: 15px;

			.fenxiang-content {
				color: #404040;
				margin-bottom: 14px;
				.title {
					color: var(--theme);
				}
			}

			.fenxiang-link {
				all:unset;
				//height: 30px;
				//line-height: 30px;
				font-size: 14px;
				border-radius: 20px;
				padding: 8px 19px;
				box-sizing: border-box;
				background: var(--theme);
				color: #F9F9F9 !important;
				//color: #4bc;
				a{
					color: #F9F9F9 !important;
				}
			}

		}

		// 图片
		.img-text {
			img {
				background-repeat: no-repeat;
				cursor: pointer;
			}
		}
	}

	.l-msg-line, .r-msg-line{
		animation-duration: .66s;
		animation-timing-function: ease-in-out;
		animation-delay: var(--delay);
		animation-fill-mode: backwards;
		&:after{
			content: attr(data-tdate);
			font-size: 12px;
			color: #b2b2b2;
			position: absolute;
			bottom: -20px;
		}
		.pic-layout{
			align-self: end;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			margin-top: -1.3em;
			width: 40px;
			text-align: center;
			span.tag-handle-btn{
				display: inline-block;
				margin-top: 20px;
				background: #f7f7f7;
				border-radius: 14px;
				cursor: pointer;
				padding: 6px;
			font-size: 14px;
		}
	}
	}
	.l-msg-line {
		animation-name: l-to-r;
		justify-content: flex-start;
		.pic-layout{
			margin-right: 12px;
		}
		&:after{
			left: 43px;
		}
		.username{
			padding-left: 51px;
			text-align: left;
		}
		.chat-cont-layout{
			align-items: center;
		}

		img {
			margin-right: 12px;
		}

		.msg-content {
			background: #f8f8f8;
			color: #404040;
			border-radius: 0 20px 20px 20px;
			box-shadow: 0 0 4px 0 #c2c0c0;
			pre {
				overflow: hidden;
			}
		}
		&:before{
			left: 3px;
		}
	}

	.r-msg-line {
		animation-name: r-to-l;
		.username{
			padding-right: 51px;
			text-align: right;
		}
		.chat-cont-layout{
		justify-content: flex-end;
		align-items: center;
		}
		.pic-layout{
			margin-left: 12px;
		}

		&:before{
			right: 3px;
		}
		&>div:not([class=pic-img]){
			position: relative;
			&.theme-loading:after{
				width: 20px;
				height: 20px;
				left: -30px;
			}
		}
		.error-loading{
			width: 20px;
			height: 20px;
			border-radius: 100%;
			background-color: #f97482;
			margin-right: 10px;
			text-align: center;
			line-height: 20px;
			color: #fff;
			cursor: pointer;
		}
		&:after{
			right: 43px;
		}

		.msg-content {
			background: var(--theme);
			border-radius: 20px 0 20px 20px;
			color: #fff;
			background: #307fff;
			-webkit-box-shadow: 0px 0px 5px 0 #307fff;
			box-shadow: 0px 0px 5px 0 #307fff;
		}

		img {
			width: 100%;
		}
	}

	// 系统
	.m-msg-line {
		max-width: 70%;
		display: inline-block;
		padding: 7px 30px;
		margin: 10px auto 0;
		text-align: center;
		font-size: 14px;
		color: #6b6b6b;
		background: #f3f3f3;
		border-radius: 10px;
		flex-wrap: wrap;
	}

}
// 头像以及图片设置
.msg-list-w .pic-img, .msg-list-w .content-img {
	display: inline-block;
	background: #f3f3f3;
	object-fit: cover;
	vertical-align: middle;
}
.content-img{
	border-radius: 8px;
}
// 时间
.timeDisplay {

	margin-bottom: 15px;
	padding: 0 6px;
	&.c {
		text-align: center;
	}
}
// 新消息弹框
.newpm {
	position: relative;
	top: -40px;
	max-width: 200px;
	padding: 0 10px;
	height: 30px;
	background: #ffe5ee;
	margin: 0 auto -30px;
	text-align: center;
	line-height: 29px;
	border: 1px solid #ffe5ee;
	border-radius: 17px;
	color: #f97482;
	-webkit-box-shadow: -1px 1px 7px 0px #c0c4cc;
	box-shadow: -1px 1px 7px 0px #c0c4cc;
	cursor: pointer;

	&:hover {
		animation-name: none;
	}
}
.handle-area{
	position: relative;
	backdrop-filter: blur(2px);
	.img-url-area{
		.send-img{
			position: absolute;
			left: 0;
			top: -160px;
			width: 100px;
			height: 140px;
			display: flex;
			img{
				width: 100%;
				height: 100%;
				border-radius: 14px;
				cursor: pointer;
			}
		}
	}

	.input-w {
		//transition: all 1s;
		display: flex;
		align-items: center;
		background: #fff;
		justify-content: space-between;
		padding-right: 20px;
		border-top: 1px solid #d7dfe3;

		/deep/ div {
			transition: all .3s !important;
		}

		.input {
			//width: 297px;
			width: 90%;
			height: 120px;
			transition: all 0.5s;
			position: relative;
			vertical-align: middle;
			line-height: normal;

			textarea {
				transition: all 0.5s;
				width: 100%;
				border: none;
				max-height: 100%;
				min-height: 120px;
				box-sizing: border-box;
				padding: 10px 24px 10px 15px;
				line-height: 15px;
				vertical-align: bottom;
				font-size: 14px;
				outline:none
			}
		}

		.send {
			//margin-right: 20px;
			height: 100%;
			display: flex;
			align-items: center;
			cursor: pointer;
			flex: 1;
			justify-content: center;
			span{
				display: block;
				width: 50px;
				height: 50px;
				background: url('https://static.ishenzang.com/static/ko/miniApp/ant/chat/send2x.png') 6px 6px / cover no-repeat
			}
			&.disabled{
				filter: grayscale(1);
			}
		}
	}
}


@keyframes flash {
	from,
	50%,
	to {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.flash {
	animation: flash 2.4s infinite both;
}
// 首屏
@keyframes scaleout {
	0% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 100% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
		  opacity: 0;
	  }
}

// 消息出现动画
@keyframes r-to-l {
	from {
		opacity: 0;
		-webkit-transform: translateX(900px);
		-moz-transform: translateX(900px);
		-ms-transform: translateX(900px);
		-o-transform: translateX(900px);
		transform: translateX(900px);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
}

@keyframes l-to-r {

	from {
		-webkit-transform: translateX(-400px);
		-moz-transform: translateX(-400px);
		-ms-transform: translateX(-400px);
		-o-transform: translateX(-400px);
		transform: translateX(-400px);
	}
	to {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
