<template>
	<div class="chat-container" :style="{'--theme': theme}">
		<ul id="chat" class="msg-list-w" ref="chatList"
			:style="{ '--bottom-diff': styleInfo.moreFnSend.offsetHeight ,'margin-bottom': styleInfo.moreFnSend.offsetHeight/-1 + 'px'}">
			<span v-if="showFirstLoad" class="first-loading theme-loading"/>
			<refresh-more
				:style="{'margin-bottom': styleInfo.moreFnSend.offsetHeight + 'px'}"
				:is-pc="true"
				:pagesize="hisList.length"
				:on-refresh="onRefresh"
				:on-infinite="canInfinite && onInfinite"
				class="scroll-container"
				:ref="scrollContainerName">
				<li
					class="row"
					v-for="(msg, index) in allMsgList"
					:key="index"
					:data-index="index"
					:data-tid="msg.tid"
					:style="msg.tid === highMsgTid ? {background: 'rgb(229 236 255)'}:''"
				>
					<div
						v-if="msg.is_self_msg"
						:style="!msg.load_msg_animate ? {animation: 'none'}:{'--delay': delayFn(index)}"
						class="msg-line r-msg-line"
						:data-tdate="msg.tdate | f_GetTime('YYYY-MM-DD HH:mm')">
						<!--<p class="username">{{ msg.from_user_name || otherProps['doctor-name'] }}</p>-->
						<p class="username">{{ C_SelfInfo.username || msg.from_user_name }}</p>
						<div class="chat-cont-layout">
							<span class="error-loading" v-show="msg.is_send_err">!</span>
							<div v-if="msg.type === 0" class="msg-content pd-30"
								:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
								<pre class="pre">{{ msg.mcontent }}</pre>
							</div>

							<!--卡片-->
							<!--<div class="fenxiang pd-30"-->
							<!--	:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}"-->
							<!--	v-if="msg.type === 2">-->
							<!--	<div class="fenxiang-content">-->
							<!--		<span class="title">{{ msg.title }}</span>-->
							<!--		{{ msg.mcontent }}-->
							<!--	</div>-->
							<div v-show="msg.type === 2 && !msg.interactive_area_list">
								<div class="fenxiang pd-30"
									:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
									<div class="fenxiang-content">
										<span class="title">{{ msg.title }} -- </span>
										{{ msg.mcontent }}
									</div>
								</div>
							</div>

							<!--</div>-->
							<template v-if="msg.interactive_area_list">
								<!--链接式交互-->

								<div class="fenxiang pd-30"
									:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
									<div class="fenxiang-content">
										<span class="title">{{ msg.title }} -- </span>
										{{ msg.mcontent }}
									</div>
									<span class="fenxiang-link"
										v-if="msg.interactive_area_list.length > 1"
									>
									<span
										@click.prevent="lookDetailLink(msg.interactive_area_list[1].link_url)"
									>{{ msg.interactive_area_list[1].text }}</span>
								</span>
									<span class="fenxiang-link"
										v-else>
									<span
										@click.prevent="lookDetailLink(msg.interactive_area_list[0].link_url)"
									>{{ msg.interactive_area_list[0].text }}</span>
								</span>
								</div>
							</template>

							<div v-if="msg.type === 8" class="img-text"
								:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
								<img :src="msg.image_url" style="width: 56px; height: 122.5px;"
									class="content-img" :data-original="msg.image_url"
									@click.prevent=" viewImg('.msg-list-w', true )"/>

							</div>
							<div class="pic-layout">
								<img class="pic-img" :src="C_SelfInfo.pic"/>
								<el-poptip
									confirm
									:title="`是否撤回？`"
									:disabled="msg.loading"
									@on-ok="handleWithDrawMsg(msg)"
								>
									<span class="tag-handle-btn withdraw-msg"
										v-if="!!WithDrawMsg && showWithdraw(msg.tdate)">撤回</span>
								</el-poptip>
							</div>
						</div>
					</div>
					<!-- 系统消息 -->
					<div
						v-else-if="msg.is_sys_msg"
						:style="!msg.load_msg_animate ? {animation: 'none'}:{'--delay': delayFn(index)}"
						class="msg-line m-msg-line">
						{{ msg.mcontent }}
					</div>
					<div
						:style="msg.load_msg_animate ? {'--delay': delayFn(index)}:{animation: 'none'}"
						class="msg-line l-msg-line"
						v-else
						:key="index"
						:data-tdate="msg.tdate | f_GetTime('YYYY-MM-DD HH:mm')">
						<!--头像-->
						<p class="username">{{ C_OtherInfo.username || msg.from_user_name }}</p>
						<div class="chat-cont-layout">
							<div class="pic-layout">
								<img class="pic-img" :src="C_OtherInfo.pic"/>
							</div>

							<div v-show="msg.type === 2 && !msg.interactive_area_list">
								<div class="fenxiang pd-30"
									:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
									<div class="fenxiang-content">
										<span class="title">{{ msg.title }} -- </span>
										{{ msg.mcontent }}
									</div>
								</div>
							</div>

							<!--链接交互-->
							<template v-if="msg.interactive_area_list">
								<!--链接式交互-->

								<div class="fenxiang pd-30"
									:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
									<div class="fenxiang-content">
										<span class="title">{{ msg.title }} -- </span>
										{{ msg.mcontent }}
									</div>
									<span class="fenxiang-link" v-if="msg.interactive_area_list.length > 1">
										<span
											@click.prevent="lookDetailLink(msg.interactive_area_list[1].link_url)"
										>
											{{ msg.interactive_area_list[1].text }}
										</span>
									</span>
									<span
										class="fenxiang-link"
										v-else
									>
									<!--@click.prevent="lookDetail(msg.interactive_area_list, msg.interactive_area_list[0].text)"-->
										<span
											@click.prevent="lookDetailLink(msg.interactive_area_list[0].link_url)"
										>
											{{ msg.interactive_area_list[0].text }}
										</span>
									</span>
								</div>
							</template>
							<!--文本-->
							<template v-else>
								<!--<img class="pic-img"-->
								<!--	src="https://static.ishenzang.com/static/ko/miniApp/ant/chat/doctor_pic.png"/>-->
								<div v-if="msg.type === 0" class="msg-content pd-30">

									<pre class="pre">{{ msg.mcontent }}</pre>
								</div>

							</template>

							<!--图片 预览图片 - previewImage-->
							<div v-if="msg.type === 8" class="img-text">
								<img :src="msg.image_url" style="width: 56px; height: 122.5px;"
									:data-original="msg.image_url" class="content-img"
									@click.prevent=" viewImg(classPrefix + ' .msg-list-w', true )"/>

							</div>
						</div>
					</div>


				</li>
			</refresh-more>
		</ul>
		<div
			class="newpm flash"
			@click="lookNewMsgFn"
			v-show="newMsgFlag.isNew"
		>
			您有新的消息点击查看
		</div>
		<!--<div class="newpm flash" v-if="newMsgFlag.isNew">
			您有新的消息点击查看
		</div>-->


		<div class="handle-area">
			<p class="tag not-talk" v-if="isLocked">当前对话已被{{ isLocked }}锁定</p>

			<template v-else>
				<transition-group name="slide-fade">
					<expand-fn
						key="expand-fn"
						v-show="canChat"
						ref="other-msg-type"
						:sendOtherTypeMsg="handleSendDialogMessage"
						v-bind="$attrs"
					/>
					<div class="input-w" v-show="canChat" key="input-w">
						<el-poptip
							placement="top-start"
							transfer
							width="300"
							word-wrap
							trigger="click"
						>
							<div slot="content" class="emoji-list">
								<span
									v-for="(item, index) in emojiList"
									:key="index"
									@click="localMsg+=item.emoji"
								>{{ item.emoji }}</span>
							</div>
							<el-button type="text" class="emoji-btn">
								&nbsp;
							</el-button>
							<!-- @click="pushType('emoji')" -->
						</el-poptip>
						<div class="input">
							<!--:disabled="canAsk === 0"-->
							<textarea
								v-model="localMsg"
								type="textarea"
								:placeholder="canChat ? '说点什么吧...':'对话已关闭'"
								:disabled="!canChat"
								@keydown.prevent.enter.exact="addByEnterKey($event)"
								@keydown.ctrl.enter="addByEnterKey"
							/>
						</div>
						<div :class="{'send': true, 'disabled': (!localMsg.trim() ||isBeingSent)}"
							@click="sendMsgFn">
							<span/>
						</div>

					</div>
				</transition-group>
			</template>
		</div>
		<web-link v-model="viewWebLinkDrawer.visible" :link="viewWebLinkDrawer.link" />
	</div>
</template>

<script>
import RefreshMore from '_c/main/refresh-more/refresh-more';
import mixin from './chat-lib';
import { uploadTime } from '@/libs/dateFormater';
import ExpandFn from './components/expand-fn/expand-fn';
import ElPoptip from '@/components/main/el-poptip/el-poptip';
import { EMOJILIST } from '@/components/main/chat/emoji';
import WebLink from '@/components/main/chat/components/web-link';

/**
 * 并集
 * @param source     {[string]}     目标
 * @param target     {[string]}     资源
 * @return  {Array}              两者中不存在的数据
 */
const handleUnionSetData = (source, target) => {
	return source.concat(target.filter(v => !(source.indexOf(v) > -1)));
}
const handleDiffData = (source, target) => {
	return source.filter(v => target.indexOf(v) === -1)
}

export default {
	name: "chat",
	components: { WebLink, ElPoptip, ExpandFn, RefreshMore },
	mixins: [mixin],
	props: {
		/**
		 * 自己消息来源类型, 如果不是组件引入 自行修改默认值
		 * @desc 如果自己发的消息类型有多种 请传递Array
		 */
		self_msg_type: {
			type: [Number, Array],
			require: true
		},
		// 系统消息来源类型, 如果不是组件引入 自行修改默认值
		sys_msg_type: {
			type: Number,
			require: false
		},
		// 打开对话API的请求参数
		openDialogParams: {
			type: Object,
			require: false
		},
		// 打开对话 API
		OpenDialogApi: {
			type: [Function, undefined],
			required: false
		},
		// 获取对话记录 API
		GetMsgListApi: {
			type: Function,
			required: true
		},
		// 发送消息 API
		SendMsgApi: {
			type: [Function, undefined],
			required: false
		},
		// 撤回消息
		WithDrawMsg: {
			type: [Function, undefined],
			required: false
		},
		/**
		 * 自身信息(自己)
		 * @type selfInfo    {{ pic: string, username: string }}    自身信息
		 */
		selfInfo: Object,
		/**
		 * 交谈者信息(对方)
		 * @type selfInfo    {{ pic: string, username: string }}    交谈者信息
		 */
		otherInfo: Object,
		// 是否需要默认头像
		hasDefAvatar: Boolean,
		// 是否可以聊天
		canChat: {
			type: Boolean,
			default: true,
			require: false
		},
		// 能否上拉加载消息
		canInfinite: {
			type: [Boolean, String],
			defalut: false,
			reuqire: false
		},
		// 高亮标识的消息
		highMsgTid: String,
		// 是否已被锁定, 锁定了类型为String, 值为锁定的人, 未锁定则false
		isLocked: {
			type: [Boolean, String],
			default: false,
			require: false
		},
		// 主题色, 适用于自己消息背景, 以及加载颜色
		theme: {
			type: String,
			default: '#307fff',
			require: false
		},
		// 是否开启消息动画
		hasMsgAnimate: {
			type: Boolean,
			default: true,
			require: false
		},
		hasMsgDelayAnimate: {
			type: Boolean,
			default: true,
			require: false
		},
		// 预发送(提升用户体验)
		isPreSend: {
			type: Boolean,
			default: true,
			require: false
		}
	},
	data() {
		return {
			emojiList: EMOJILIST,
			styleInfo: {
				moreFnSend: {
					offsetHeight: ''
				}
			},
			showFirstLoad: false,
			pagesize: 30,
			refreshTime: 40 * 1000,
			dialog_tid: '',
			C_SelfInfo: {
				username: '',
				pic: 'https://static.ishenzang.com/static/ko/miniApp/ant/chat/doctor_pic.png'
			},
			C_OtherInfo: {
				username: '',
				pic: 'https://static.ishenzang.com/static/ko/miniApp/ant/chat/doctor_pic.png'
			},
			// 轮询定时器
			forTimer: null,
			allMsgList: [],
			localMsg: '',
			hisList: [],
			lastTid: '',
			newMsgFlag: {
				isNew: false,
				// 是否发送消息了
				isSent: false
			},
			// 是否正在获取消息
			isGettingMsg: false,
			// 消息发送中
			isBeingSent: false,
			// 预发送加载
			preSendLoading: false,
			viewWebLinkDrawer: {
				visible: false,
				link: ''
			}
			// 以下为自定义规则变量
		}
	},
	computed: {
		// 自定义props
		otherProps() {
			return this.$attrs
		},
		classPrefix(){
			return [...this.$parent.$el.classList].map(item => '.'+item).join('')
		},
		scrollContainerName(){
			return 'scroll-container' + Math.random()
		}
	},
	watch: {
		otherProps(v) {
		},
		selfInfo(info) {
			info.username && (this.C_SelfInfo.username = info.username)
			info.pic && (this.C_SelfInfo.pic = info.pic)
		},
		otherInfo(info) {
			info.username && (this.C_OtherInfo.username = info.username)
			info.pic && (this.C_OtherInfo.pic = info.pic)
		}
	},
	created() {
		this.allMsgList = []
		this.hisList.length = this.pagesize
		if (!this.hasDefAvatar) {
			this.C_SelfInfo.pic = this.C_OtherInfo.pic = ''
		}
		this.$emit('listener-created', this)
	},
	mounted() {
		this.styleInfo.moreFnSend = {
			offsetHeight: this.$refs['other-msg-type'].offsetHeight
		}
	},
	beforeDestroy() {
		clearTimeout(this.forTimer)
	},
	methods: {
		/*自定义业务逻辑 START*/

		/*自定义业务逻辑 END*/

		// 下拉加载
		async onRefresh(done) {
			if (this.allMsgList.length <= 0) return
			await this.handleGetDialogMessagePageListByLT(-1)
			console.log(this.$refs)
			this.$refs[this.scrollContainerName].scrollToFn('to_view')
			done()
		},
		async onInfinite(done) {
			if (this.allMsgList.length <= 0) return
			await this.handleGetDialogMessagePageListByLT(2, null, 1)
			// this.$refs['scroll-container'].scrollToFn('to_view')
			done()
		},
		/**
		 * 开启对话
		 * @param load_msg_mode [-1:下拉加载, 1:循环加载, null: 首次加载] 消息加载模式
		 * @param msg_tid       {string=}    指定消息tid, 此时 load_msg_mode 必须为null
		 */
		async handleOpenDialog(load_msg_mode, msg_tid) {
			try {
				if (!this.openDialogParams || !Object.keys(this.openDialogParams).length) {
					throw '缺少 openDialog 请求参数, 请检查是否有 prop: openDialogParams'
				}
				this.showFirstLoad = load_msg_mode === null
				let data = await this.OpenDialogApi(this.openDialogParams)
				if (!data) return
				let dialogData = data.data
				this.dialog_tid = dialogData.tid
				// this.customerinfo = dialogData.customerinfo
				await this.handleGetDialogMessagePageListByLT(load_msg_mode, msg_tid)
				this.showFirstLoad = false
				this.$emit('getDialogInfo', dialogData)
			} catch (e) {
				this.showFirstLoad = false
				//打开对话失败
				this.$emit('on-open-dialog-err')
			}
		},
		/**
		 * 获取消息
		 * @param load_msg_mode [-1:下拉加载, 1:循环加载, 2: 上拉加载,null: 首次加载] 消息加载模式
		 * @param msg_tid       {string|null=}    指定消息tid, 此时 load_msg_mode 必须为null
		 * @param mode          {number|null=}  获取消息模式 [0|null: 历史记录, 1: 上拉加载]
		 * @desc load_msg_mode 默认 正常加载滚动到底部
		 */
		async handleGetDialogMessagePageListByLT(load_msg_mode, msg_tid, mode) {
			this.isGettingMsg = true
			// console.log(load_msg_mode)
			// dialog_tid: ''
			if (!this.dialog_tid) {
				this.$message.warning('请先打开对话')
				return
			}
			let diff = []
			let message_tid = null
			switch (load_msg_mode) {
				case null:
					message_tid = msg_tid
					break;
				case -1:
					message_tid = this.allMsgList[0] && this.allMsgList[0].tid
					break;
				case 1:
					message_tid = null
					break;
				case 2:
					message_tid = this.allMsgList[0] && this.allMsgList[this.allMsgList.length - 1].tid
					break;
			}

			let responsedata = {
				dialog_tid: this.dialog_tid,
				pagesize: this.pagesize,
				message_tid,
				mode: mode || null
			}
			let { data: msgList } = await this.GetMsgListApi(responsedata)

			// eslint-disable-next-line require-atomic-updates
			msgList = await this.handleMsgKeyFn(msgList)
			if (load_msg_mode === -1) {
				this.hisList = msgList
				this.allMsgList = this.handleAnimateFn(msgList.concat(this.allMsgList), false)
			} else if (load_msg_mode === 2) {
				this.hisList = msgList
				this.allMsgList = this.handleAnimateFn(this.allMsgList.concat(msgList), false)
			} else if (load_msg_mode === 1) {
				this.allMsgList = this.handleAnimateFn(this.allMsgList, false)
				// console.log(msgList, this.allMsgList, '对比数据')
				let tmpAllMsg = this.allMsgList
				this.all = this.allMsgList
				tmpAllMsg = handleUnionSetData(tmpAllMsg.map(item => item.tid), msgList.map(item => item.tid))
				// 找出差异(不存在的消息)
				diff = handleDiffData(tmpAllMsg, this.allMsgList.map(item => item.tid))
				// console.log(msgList, this.all, diff, '对比数据 -- 2')

				if (diff.length) {
					// console.log('有新消息 -- 处理数据')
					diff = msgList.filter(item => diff.includes(item.tid))

					this.allMsgList = this.allMsgList.concat(
						this.handleAnimateFn(diff)
						)
						.sort((a, b) => (a.tdate - 8 * 3600) * 1000 - (b.tdate - 8 * 3600) * 1000)
					// console.log(this.allMsgList, '消息处理后的  allMsgList')
				}
			} else {
				this.allMsgList = this.handleAnimateFn(msgList)
				this.$nextTick(() => {
					this.$refs[this.scrollContainerName].scrollToFn('bottom')
					// 已经获取到全部历史记录, 则开始获取之后的数据
					if (!mode && msgList.length < this.pagesize && this.canInfinite) {
						this.handleGetDialogMessagePageListByLT(2, null, 1)
					}
				})
			}
			if (diff.length && !this.newMsgFlag.isSent) {
				// 处理滚动条
				this.$nextTick(() => {
					let scrollContainer = document.querySelector('.refresh-more-container')
					this.newMsgFlag.isNew =
						(scrollContainer.scrollTop < scrollContainer.scrollHeight / 2)
						&&
						scrollContainer.offsetHeight + 300 < scrollContainer.scrollHeight
					if (this.newMsgFlag.isNew) return
					if (!msgList[msgList.length - 1].is_self_msg) {
						this.$refs[this.scrollContainerName].scrollToFn('bottom')
					}
				})
			}
			if (this.newMsgFlag.isSent) {
				this.$nextTick(() => {
					this.$refs[this.scrollContainerName].scrollToFn('bottom')
					this.newMsgFlag.isSent = false
					this.newMsgFlag.isNew = false
				})
			}
			this.isGettingMsg = false
			let picHash = {}
			let picArr = []
			this.getImageUrl(this.allMsgList, 'image')
				.then(data => {
					this.allMsgList = data
				})

			if (!this.C_SelfInfo.pic || !this.C_OtherInfo.pic) {
				picArr = this.allMsgList.reduce((arr, item) => {
					if (!picHash[item.from_type + ''] && item.from_type !== this.sys_msg_type) {
						picHash[item.from_type + ''] = true
						if (!item.from_userinfo) return arr
						item.from_userinfo.is_self = item.is_self_msg
						arr.push(item.from_userinfo)
					}
					return arr
				}, [])

				if (picArr.length) {
					let picArrData
					if (!this.C_SelfInfo.pic || !this.C_OtherInfo.pic) {
						picArrData = await this.getImageUrl(picArr, 'pic')
					}
					if (!this.C_SelfInfo.pic) {
						let find = picArrData.find(item => item.is_self)
						this.C_SelfInfo.pic = find && find.pic_url || this.$options.data().C_SelfInfo.pic
					}
					if (!this.C_OtherInfo.pic) {
						let find = picArrData.find(item => !item.is_self)
						this.C_OtherInfo.pic = find && find.pic_url || this.$options.data().C_OtherInfo.pic
					}
				}
			}
		},
		/**
		 * 处理消息 key[不处理图片]
		 * @param msgList {Array} 消息列表
		 * @return msgList {Array} 处理后的消息
		 */
		async handleMsgKeyFn(msgList) {
			return msgList.map(msg => {
				if (msg.from_userinfo) {
					msg.from_user_name = msg.from_userinfo.username
				}
				if (typeof this.self_msg_type === 'number') {
					msg.is_self_msg = msg.from_type === this.self_msg_type
				} else {
					msg.is_self_msg = this.self_msg_type.includes(msg.from_type)
				}
				msg.is_sys_msg = msg.from_type === this.sys_msg_type
				return {
					...msg,
					image: msg.images ? JSON.parse(msg.images)[0] : ''
				}
			})
		},
		/**
		 * 发送消息
		 * @param sendData {object} 待发送的消息体
		 */
		async handleSendDialogMessage(sendData) {
			// console.log(sendData, 'sendData')
			if (!sendData.dialog_tid) {
				sendData.dialog_tid = this.dialog_tid
			}
			// console.log(this.dialog_tid, sendData, 'data')
			// console.log(this.allMsgList, '发送消息前 -- allMsgList')
			let handledData = this.preSendFn(sendData)
			this.isBeingSent = true
			try {
				let { data } = await this.SendMsgApi(sendData)
				data = await this.handleMsgKeyFn([data])
				data = data[0]
				this.newMsgFlag.isSent = true
				this.isBeingSent = false
				if (this.isPreSend) {
					handledData.is_pre_send = false
					handledData.is_send_err = false

					const index = this.allMsgList.findIndex(item => item.tid === handledData.tid)
					this.$set(this.allMsgList, index, Object.assign(handledData, data))
					// console.log(this.allMsgList, '发送消息后 -- allMsgList')
				} else {
				}
				this.preSendLoading = false
				// 预发送处理
				// if (this.isPreSend) return

			} catch (e) {
				console.log(e)
				this.$message.error('发送失败 请重试')
				this.allMsgList = this.allMsgList.map(item => {
					return {
						...item,
						is_send_err: item.is_send_err ? item.is_send_err : item.tdate === handledData.tdate
					}
				})
				console.log(this.allMsgList, '处理失败')
				this.preSendLoading = false
				this.newMsgFlag.isSent = false
				this.isBeingSent = false
			}
			this.autoRefresh()
			await this.handleGetDialogMessagePageListByLT(1)
		},
		// 预请求
		preSendFn(pre_send_data) {
			if (!this.isPreSend) return
			this.preSendLoading = true
			let tmpData = {
				tid: Number(Math.random()
					.toString()
					.substr(3, 6) + Date.now())
					.toString(22),
				...pre_send_data,
				tdate: uploadTime(new Date().valueOf()),
				is_self_msg: true,
				is_pre_send: true
			}
			this.allMsgList.push(tmpData)
			this.$refs[this.scrollContainerName].scrollToFn('bottom')
			return tmpData
		},
		//发送消息
		sendMsgFn() {
			if (!this.localMsg.trim()) return
			if (this.isBeingSent) return
			let sendData = {
				dialog_tid: this.dialog_tid,
				mcontent: this.localMsg,
				type: 0
			}
			this.handleSendDialogMessage(sendData)
			this.localMsg = ''
		},
		addByEnterKey(e) {
			e = e ? e : window.event
			let keyCode = e.which ? e.which : e.keyCode

			if (e.ctrlKey && keyCode === 13) {
				this.localMsg = this.localMsg + '\n'
			} else {
				e.preventDefault()
				this.sendMsgFn()
			}
		},
		//是否显示撤回按钮
		showWithdraw(time) {
			if (
				new Date().valueOf() - (time * 1000 - 8 * 60 * 60 * 1000) <=
				110 * 1000
			) {
				return true
			} else {
				// clearInterval(this.withdrawMsg.timer)
				return false
			}
		},
		async handleWithDrawMsg({ tid }) {
			await this.WithDrawMsg({ tid })
			const index = this.allMsgList.findIndex(item => item.tid === tid)
			this.allMsgList.splice(index, 1)
			// data = await this.handleMsgKeyFn([data])
		},
		lookNewMsgFn() {
			this.$refs[this.scrollContainerName].scrollToFn('bottom')
			this.newMsgFlag.isNew = false
		},
		/**
		 * 轮询
		 * @param {'handleOpenDialog'|'handleGetDialogMessagePageListByLT'}  [api]   轮询的接口
		 * @param {*}  [params] 请求参数
		 */
		autoRefresh(api, params) {
			clearInterval(this.forTimer)
			this.forTimer = setInterval(() => {
				if (api) {
					this[api](params)
				} else {
					this.handleOpenDialog(1)
				}
			}, this.refreshTime)
		},
		lookDetailLink(link) {
			this.viewWebLinkDrawer.visible = true
			this.viewWebLinkDrawer.link = link
		}

	}

}

</script>

<style lang="less" scoped>
@import "chat";
/* fade-transform */
.slide-fade-leave-active,
.slide-fade-enter-active {
	transition: all .5s;
	will-change: opacity;
}

.slide-fade-enter {
	opacity: 0;
	transform: translateY(230px);
}

.slide-fade-leave-to {
	opacity: 0;
	transform: translateY(230px);
}

.row {
	&:hover .remark-issue {
		visibility: initial;
	}

	.remark-issue {
		visibility: hidden;
	}
}
</style>
