@import "mixin";
.tag {
	display: inline-block;
	line-height: 1em;
	border-radius: 14px;
	font-size: 14px;
	padding: 6px 10px;
	transition: color 0.4s, background-color 0.4s, box-shadow 0.3s;
	cursor: default;
	box-sizing: border-box;
	background: #E5ECFF;
	color: rgba(73, 119, 252, 1);
	&+.tag{
		margin: 1px 4px;
	}
	&.large{
		padding: 11px 13px;
		border-radius: 8px;
	}
	&:first-child{
		margin-left: 0;
	}
	&:hover {
		box-shadow: 0 0 3px 0 rgba(133, 133, 133, 0.34);
	}
}

.image-radius {
	border-radius: 10%;
}

.danger {
	color: #f7842f;
	background: #fff0e5;

	&:hover {
		color: #f7842f;
		background: #fff0e5;
	}
}

.gray {
	color: #333;
	background: rgba(220, 222, 226, 0.5);

	&:hover {
		background: rgba(220, 222, 226, 0.5);
	}
}

.primary-color{
	color: #6672FB;
}
.primary{
	background: #6672FB;
	color: #FEFEFF;

	&:hover, &:focus {
		background-color: #7e88ef !important;
		color: #FEFEFF;
	}

}

.info {
	color: #6088fc;
	background-color: #e5ecff;

	&:hover {
		background-color: #e5ecff;
	}
}

.warning {
	color: #fff;
	background: #F95C3E;

	&:hover {
		color: #fff;
		background: #F95C3E;
	}
}
.warning-color {
	color: #F95C3E;
}

.not-talk {
	color: rgb(249, 102, 119);
	background: rgb(255, 228, 238);

	&:hover {
		color: rgb(249, 102, 119);
		background: rgb(255, 228, 238);
	}
}
.no-bg{
	background: unset !important;

}
.pointer{
	cursor: pointer;
}


.success {
	color: rgba(105, 163, 92, 1);
	background: rgba(105, 163, 92, 20%);

	&:hover {
		color: rgba(105, 163, 92, 1);
		background: rgba(105, 163, 92, 20%);
	}
}

.handle-text-btn {
	font-size: 14px;
	line-height: 1em;
	margin: 3px 0;
	padding: 0 6px;
	cursor: pointer;
	background: unset !important;
	display: inline-block;
	&:hover{
		transition: transform 0.2s;
		transform: scale(1.1);
	}
}

.handle-btn {
	border: none;
	margin-right: 4px;
	margin-bottom: 4px;
	font-size: 14px;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 8px 20px;
	transition: all 0.3s;
	cursor: pointer;

	&.default{
		border-radius: 8px;
		padding: 13px 32px;
	}

	&.mini {
		padding: 2px 6px;
		font-size: 13px;
		border-radius: 4px;
	}

	&.btn-danger {
		color: #fff;
		background-color: #f56c6c;
		border-color: #f56c6c;

		&:hover {
			background: #ff8585;
		}
	}

	&:hover {
		box-shadow: 0 0 3px 0 rgba(133, 133, 133, 0.34);
	}
}

.footer-handle-area {
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
	width: 100%;
	z-index: 99;
	backdrop-filter: blur(4px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: rgba(255, 255, 255, 0.48);
	//margin: 0 -16px;
	box-shadow: 0 -2px 3px 0px #f5f5f5;
}

// 模态框大致布局
.modal {
	.modal-list {
		.modal-row {
			margin-bottom: 14px;
			display: flex;
			//align-items: center;

			& > label {
				font-size: 14px;
				width: 25%;
				max-width: 124px;
				//text-align: right;
				margin-right: 10px;

				& + div {
					width: 70%;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.modal-row-tip {
			color: #969799;
			line-height: 14px;
			font-size: 12px;
			margin-top: 6px;
			margin-bottom: 0;
		}

	}
}

.scroll-bar {
	&::-webkit-scrollbar-track-piece {
		background: #dde2e8;
	}

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-thumb {
		background: #b1bbc8;
		border-radius: 20px;
	}
	/*滚动条两端方向按钮*/
	&::-webkit-scrollbar-button {
		//background-color: pink;
	}
}

/* 以下为非必须*/
.block-layout {
	background: #fff;
	padding: 27px 30px;
}
.margin-30{
	margin: 30px;
}


// 筛选区
.filter-tbl-area {
	//margin-bottom: 10px;
	margin-bottom: 24px;
	.sc-area {
		height: 50px;
		margin-bottom: 12px;

		.sc-icon {
			width: 50px;
			height: 50px;
			background: #d0dff9;
			border-radius: 18px;
			z-index: 1;
			font-size: 15px;
			font-weight: bold;
			color: #6672FB;
			text-align: center;
			line-height: 50px;
		}

		.sc-inp {
			width: 380px;
			height: 50px;
			padding-left: 66px;
			box-sizing: border-box;
			margin-left: -50px;
			background: #EFF3FB;
			color: #757994;
			border-radius: 18px;
			border: none;

			&:focus {
				outline: none;
			}
		}
	}
	& > div {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 6px;
	}

	// 对于选择框 进行宽度处理
	.select-w, .default-w {
		margin-right: 48px;
		margin-bottom: 20px;
		align-items: center;
		display: flex;

		& > .tip {
			margin-right: 16px;
			font-size: 15px;
			font-weight: bolder;

			&+div{
				width: 156px;
			}
		}

	}

	::v-deep.select-w {
		& > .tip {
			& + div {
				width: 200px;
			}
		}
	}

	.handle-btn-w {
		display: flex;
		//justify-content: center;
		//margin-top: 30px;
		.handle-btn {
			min-width: 117px;
			height: 33px;
			line-height: 19px;
			border-radius: 4px;

			&.handle-btn-gray {
				background: #ccc;
			}
		}
	}
}
.tbl-area {
	background: #fff;
	padding: 23px 17px;
	box-sizing: border-box;

	.tbl-handle-area{
		padding-bottom: 15px;
		margin-bottom: 12px;
	}
}

// 单选Button 样式
::v-deep.select-button-w {
	.ivu-radio-group-button .ivu-radio-wrapper {
		padding: 0 25px;
	}

	label.item.ivu-radio-wrapper.ivu-radio-group-item.ivu-radio-wrapper-checked {
		position: relative;
	}

	label.item.ivu-radio-wrapper.ivu-radio-group-item.ivu-radio-wrapper-checked.ivu-radio-default:after {
		transition: all 0.3s;
		position: absolute;
		content: '';
		bottom: -4px;
		left: 0;
		right: 0;
		margin: auto;
		width: 20px;
		height: 2px;
		background: #4768F6;

	}

	.ivu-radio-group-button .ivu-radio-wrapper {
		border: none;
		//border-top: 1px solid #2d8cf0;
		//border-bottom: 1px solid #2d8cf0;
		box-shadow: none;
		font-size: 17px;
		color: #434343;

		&:first-child {
			//border-left: 1px solid #2d8cf0;
		}

		&:last-child {
			//border-right: 1px solid #2d8cf0;
		}

		&:focus {
			box-shadow: none !important;
		}

		&:after, &:before {
			all: unset;
		}
	}

	// 选中项
	.ivu-radio-group-button .ivu-radio-wrapper-checked {
		background: unset;
		font-size: 17px;
		color: #434343;

		&:focus {
			box-shadow: none !important;
		}
	}
}

.require {
	position: relative;

	&:before {
		content: '*';
		font-size: 18px;
		color: red;
	}
}

// 两行省略
.text-overflow {
	&-1 {
		.text-overflow(1)
	}

	&-2 {
		.text-overflow(2)
	}
}


.is-disabled{
	background-color: #F5F7FA;
	border-color: #E4E7ED;
	color: #C0C4CC;
	cursor: not-allowed;
}
.flex-layout{
	display: flex;
	&.flex-jcc{
		justify-content: center;
	}
	&.flex-aic{
		align-items: center;
	}
	&.flex-jcsb{
		justify-content: space-between;
	}
	&.flex-col{
		flex-direction: column;
	}
	&.flex-end{
		justify-content: flex-end;
	}

}
.flex-shrink-0{
	flex-shrink: 0;
}
.flex-1{
	flex: 1;
}
.radius-10{
	border-radius: 10px;
}
.text-center{
	text-align: center;
}

.bold{
	font-weight: bolder;
}
.pd-lr-30{
	padding: 0 30px;
}
.mr-10{
	margin-right: 10px;
}
//.mb-10{
//	margin-bottom: 10px;
//}
.mb-15{
	margin-bottom: 15px;
}


body{
	.loop(5);
	&, button, input, textarea{
		font-family: PingFang SC, Helvetica Neue, Arial, sans-serif !important;
	}
}
// 上分割线
.parting-line-top{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		border-top: 1px dashed #ebedf0;
	}
}
.parting-line-bottom{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-top: 1px dashed #ebedf0;
	}
}
.pointer{
	cursor: pointer;
}
