// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
	font-weight: 400 !important;
}

.el-upload {
	input[type="file"] {
		display: none !important;
	}
}

.el-upload__input {
	display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
	transform: none;
	left: 0;
	position: relative;
	margin: 0 auto;
}

// refine element ui upload
.upload-container {
	.el-upload {
		width: 100%;

		.el-upload-dragger {
			width: 100%;
			height: 200px;
		}
	}
}

// dropdown
.el-dropdown-menu {
	a {
		display: block
	}
}

// to fix el-date-picker css style
.el-range-separator {
	box-sizing: content-box;
}

// popconfirm
.el-popconfirm__main {
	padding: 6px 8px 16px;
}

.el-popconfirm__action {
	.el-button {
		padding: 0 7px !important;
		height: 24px;
	}

	.el-button--text {
		color: #515a6e;

		&:hover {
			color: #409EFF;
		}
	}
}

// 垂直 单选组
.el-radio-group[vertical] {
	.el-radio{
		display: block;
		margin-bottom: 10px;
	}
}

// 抽屉
.el-drawer{
  &__header{
    margin-bottom: 23px;
  }
  &__title{
    padding-left: 15px;
    padding-right: 15px;
  }
  &__body{
    padding: 0 15px;
  }
}
