@import "./iview/table.css";
@import "./iview/modal.css";
@import "./iview/button.css";
@import "./iview/checkbox.css";
.ivu-drawer-wrap{
  z-index: 1002 !important;
}
.sku-select-poptip{
	max-width: 340px;
	min-width: 240px !important;
	.ivu-icon.ivu-icon-ios-help-circle{
		display: none;
	}
	.ivu-poptip-inner{
		position: relative;
		.stock-tip{
			position: absolute;
			bottom: 14px;
			color: #ef7721;
		}
	}
	.ivu-poptip-body-message{
		padding-left: 0 !important;
	}
	.poptip-footer{
		display: flex;
		justify-content: flex-end;
		padding: 10px 0 4px;
	}
}
.customer-poptip{
	.ivu-icon.ivu-icon-ios-help-circle{
		display: none;
	}
	.ivu-poptip-body-message{
		padding-left: 0 !important;
	}
}
