.loop( @count )when( @count > 0 ){
	@count2: @count * 2;
	.ml-@{count2}{
		margin-left: ( 2px * @count );
	}
	.mr-@{count2}{
		margin-right: ( 2px * @count );
	}
	.mb-@{count2}{
		margin-bottom: ( 2px * @count );
	}
	.mt-@{count2}{
		margin-top: ( 2px * @count );
	}
	.pl-@{count2}{
		padding-left: ( 2px * @count );
	}
	.pr-@{count2}{
		padding-right: ( 2px * @count );
	}
	.pb-@{count2}{
		padding-bottom: ( 2px * @count );
	}
	.pt-@{count2}{
		padding-top: ( 2px * @count );
	}
	.loop((@count - 1));
}

.text-overflow(@line-count) {
	text-overflow: ellipsis;
	display: -webkit-box;
	overflow: hidden;
	/*! autoprefixer: off */
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @line-count;
	word-break: break-all;
}
// Animation
@animation-time         : .3s;
@animation-time-quick   : .15s;
@transition-time        : .2s;
@ease-in-out            : ease-in-out;
@import "./iview/animation/index";
