@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
  /*滚动条两端方向按钮*/
  &::-webkit-scrollbar-button {
    background-color: pink;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}
