<template>
	<div :class="{fullscreen:fullscreen}" class="tinymce-container" :style="{width:containerWidth}">

		<el-button class="mb-6" type="primary" @click="uploadImgInfo.visible = true">上传图片</el-button>
		<textarea :id="tinymceId" class="tinymce-textarea"/>
		<!--<div class="editor-custom-btn-container">-->
		<!--	<editorImage color="#1890ff" class="editor-upload-btn" @successCBK="imageSuccessCBK" />-->
		<!--</div>-->

		<Modal
			class-name="modal"
			title="上传图片"
			v-model="uploadImgInfo.visible"
			:mask-closable="false"
			:draggable="true"
			:closable="false"
			@on-ok="confirmUploadImg(true)"
		>
			<upload-image
				v-model="uploadImgInfo.list"
				multiple
			/>
		</Modal>
	</div>
</template>

<script>
/**
 * docs:
 * https://panjiachen.github.io/vue-element-admin-site/feature/component/rich-editor.html#tinymce
 */
import editorImage from './components/EditorImage'
import plugins from './plugins'
import toolbar from './toolbar'
import load from './dynamicLoadScript'
import { termValidity } from '@/libs/ossTermValidity';
import { SetOSSResourcePublicReadOnlyForWorker } from '@/api/api_public';
import UploadImage from '@/components/upload-image/upload-image';

// why use this cdn, detail see https://github.com/PanJiaChen/tinymce-all-in-one
// const tinymceCDN = 'https://cdn.tiny.cloud/1/hd9sys4x83bzgc5s9r034odqh3rbyni8kpqwk53nkxx2hqyo/tinymce/5/tinymce.min.js'
// const tinymceCDN = 'https://cdn.jsdelivr.net/npm/tinymce-all-in-one@4.9.3/tinymce.min.js'
const tinymceCDN = 'https://cdn.jsdelivr.net/npm/tinymce-all-in-one@4.9.5/tinymce.min.js'
const debounce = (function () {
	let timer = 0
	return function (callback, ms) {
		clearTimeout(timer)
		timer = setTimeout(callback, ms)
	}
})()

export default {
	name: 'Tinymce',
	components: { UploadImage },
	// components: { editorImage },
	props: {
		id: {
			type: String,
			default: function () {
				return 'vue-tinymce-' + +new Date() + ((Math.random() * 1000).toFixed(0) + '')
			}
		},
		value: {
			type: String,
			default: ''
		},
		toolbar: {
			type: Array,
			required: false,
			default() {
				return []
			}
		},
		menubar: {
			type: String,
			default: ''/*'file edit insert view format table'*/
		},
		height: {
			type: [Number, String],
			required: false,
			default: 560
		},
		width: {
			type: [Number, String],
			required: false,
			default: 'auto'
		}
	},
	data() {
		return {
			hasChange: false,
			hasInit: false,
			tinymceId: this.id,
			fullscreen: false,
			languageTypeList: {
				// 'en': 'en',
				'zh': 'zh_CN'
				// 'es': 'es_MX',
				// 'ja': 'ja'
			},
			uploadImgInfo: {
				visible: false,
				list: []
			}
		}
	},
	computed: {
		containerWidth() {
			const width = this.width
			if (/^[\d]+(\.[\d]+)?$/.test(width)) { // matches `100`, `'100'`
				return `${ width }px`
			}
			return width
		}
	},
	watch: {
		value(val) {
			if (!this.hasChange && this.hasInit) {
				this.$nextTick(() =>
					window.tinymce.get(this.tinymceId)
						.setContent(val || ''))
			}
		}
	},
	mounted() {
		this.init()
	},
	activated() {
		if (window.tinymce) {
			this.initTinymce()
		}
	},
	deactivated() {
		this.destroyTinymce()
	},
	destroyed() {
		this.destroyTinymce()
	},
	methods: {
		init() {
			// dynamic load tinymce from cdn
			load(tinymceCDN, (err) => {
				if (err) {
					this.$message.error(err.message)
					return
				}
				this.initTinymce()
			})
		},
		initTinymce() {
			const _this = this
			// console.log(window.tinymce)
			const autoresizeOption = {
				min_height: this.height,
				//是否将在初始化时尝试调整自身大小
				autoresize_on_init: false
			}
			const imageOption = {
				// 图片高级设置
				image_advtab: false,
				image_caption: false
			}
			window.tinymce.init({
				selector: `#${ this.tinymceId }`,
				language: this.languageTypeList['zh'],
				// height: this.height,
				branding: false,
				body_class: 'panel-body',
				content_style: 'img{ max-width: 100%; height: auto }',
				// 是否可调节大小(exam: 图片自定义调整)
				object_resizing: false,
				toolbar: this.toolbar.length > 0 ? this.toolbar : toolbar,
				menubar: this.menubar,
				plugins: plugins,
				...imageOption,
				...autoresizeOption,
				end_container_on_empty_block: true,
				powerpaste_word_import: 'clean',
				code_dialog_height: 450,
				code_dialog_width: 1000,
				advlist_bullet_styles: 'square',
				advlist_number_styles: 'default',
				fullpage_default_font_family: 'PingFang SC, Helvetica Neue, Arial, sans-serif',

				quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
				// 粘贴时同时上传图片
				paste_data_images: true,
				// imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
				default_link_target: '_blank',
				link_title: false,
				nonbreaking_force_tab: true, // inserting nonbreaking space &nbsp; need Nonbreaking Space Plugin
				init_instance_callback: editor => {
					if (_this.value) {
						editor.setContent(_this.value)
					}
					_this.hasInit = true
					editor.on('NodeChange Change KeyUp SetContent', () => {
						this.hasChange = true
						debounce(() => {
							this.$emit('input', editor.getContent())
						}, 300)
					})
				},
				setup(editor) {
					// console.log(editor)
					editor.on('FullscreenStateChanged', (e) => {
						_this.fullscreen = e.state
					})
				},
				// it will try to keep these URLs intact
				// https://www.tiny.cloud/docs-3x/reference/configuration/Configuration3x@convert_urls/
				// https://stackoverflow.com/questions/5196205/disable-tinymce-absolute-to-relative-url-conversions
				convert_urls: false,
				images_upload_handler: (blobInfo, success, failure) => {
					// this.handleImgUpload(blobInfo, success, failure)
				}
			})
		},
		destroyTinymce() {
			const tinymce = window.tinymce.get(this.tinymceId)
			if (this.fullscreen) {
				tinymce.execCommand('mceFullScreen')
			}

			if (tinymce) {
				tinymce.destroy()
			}
		},
		setContent(value) {
			window.tinymce.get(this.tinymceId)
				.setContent(value)
		},
		getContent() {
			window.tinymce.get(this.tinymceId)
				.getContent()

		},
		imageSuccessCBK(arr) {
			arr.forEach(v => window.tinymce.get(this.tinymceId)
				.insertContent(`<img class="wscnph" src="${ v.url }" >`))
			// arr.forEach(v => window.tinymce.get(this.tinymceId).insertContent(`<img class="wscnph" src="${v.file_src}" >`))
		},
		confirmUploadImg(flag) {
			if(!flag){
				this.uploadImgInfo.list.splice(0, Infinity)
				return
			}
			console.log(this.uploadImgInfo.list)
			// let df = document.createDocumentFragment()
			// let container = document.createElement('div')

			this.uploadImgInfo.list.map(async item => {
				let ossInfo = await this.GetPublicImg(item.osskey)
				// let imgEle = document.createElement('img')
				// imgEle.src = ossInfo.url
				// df.appendChild(imgEle)
				// container.appendChild(df)

				window.tinymce.get(this.tinymceId)
					.insertContent(`<img class="wscnph" src="${ ossInfo.url }" >`)
					// .insertContent(container.innerHTML)
				let index = this.uploadImgInfo.list.findIndex(item =>item.osskey === ossInfo.osskey)
				this.uploadImgInfo.list.splice(index, 1)
			})
		},
		// 用于上传图片的，后端需要提供好上传接口
		async handleImgUpload(blobInfo, success, failure) {
			try {
				let osskey = await termValidity(blobInfo.blob())
				console.log(osskey, 'osskey')
				let ossInfo = await this.GetPublicImg(osskey)
				// let image = await this.GetImgUrlFn([osskey], '', false, 2)
				success(ossInfo.url)
			} catch (e) {
				failure(e)
			}
		}
	}
}
</script>

<style lang="less" scoped>
::v-deep.upload-image {

}

.tinymce-container {
	position: relative;
	line-height: normal;
}

.tinymce-container {
	::v-deep {
		.mce-fullscreen {
			z-index: 10000;
		}
	}
}

.tinymce-textarea {
	visibility: hidden;
	z-index: -1;
}

.editor-custom-btn-container {
	position: absolute;
	right: 4px;
	top: 4px;
	/*z-index: 2005;*/
}

.fullscreen .editor-custom-btn-container {
	z-index: 10000;
	position: fixed;
}

.editor-upload-btn {
	display: inline-block;
}


::v-deep {
	.panel-body {
		background: #111111;

		img {
			width: 100%;
		}
	}
}
</style>
