<template>
	<div>
		<el-drawer
			size="47%"
			:with-header="false"
			destroy-on-close
			append-to-body
			:visible.sync="visible"
			@close="$emit('on-visible-change', false)"
			custom-class="web-link"
		>
			<iframe
				frameborder="0"
				marginwidth="0"
				marginheight="0"
				allowtransparency="true"
				scrolling="auto"
				:src="link"
				style="width:100%;height:100%"
			></iframe>
		</el-drawer>
	</div>
</template>

<script>
export default {
	// 外链
	name: "web-link",
	model: {
		prop: 'visible',
		event: 'on-visible-change'
	},
	props: {
		visible: {
			type: Boolean,
			required: true
		},
		link: String
	}
}
</script>

<style lang="less" scoped>

</style>
