<template>
	<section class="app-main scroll-bar">
		<transition name="fade-transform" mode="out-in">
			<router-view :key="key" />
		</transition>

	</section>
</template>

<script>
export default {
	name: 'AppMain',
	computed: {
		key() {
			return this.$route.path
		}
	}
}
</script>

<style scoped>
.app-main {
	/*50 = navbar  */
	/*min-height: calc(100vh - 50px);*/
	/* 固定高 */
	height: calc(100vh - 50px);
	width: 100%;
	position: relative;
	overflow: hidden auto;
	scroll-behavior: smooth;
	background: #f7f7f7;
}

.fixed-header + .app-main {
	padding-top: 50px;
}
</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
	.fixed-header {
		padding-right: 15px;
	}
}
</style>
