<template>
	<div class="navbar">
		<hamburger :is-active="sidebar.opened" class="hamburger-container"
			@toggleClick="toggleSideBar" v-if="canExpandSidebar" />

		<breadcrumb class="breadcrumb-container"
			:style="!canExpandSidebar ? { 'margin-left': '20px' }:{}" />

		<div class="right-menu">
			<el-dropdown class="avatar-container" trigger="click">
				<div class="avatar-wrapper" style="cursor: pointer;">
					<!--<img :src="avatar+'?imageView2/1/w/80/h/80'" class="user-avatar">-->
					<span>{{ authInfo.username || authInfo['userinfo'] && authInfo['userinfo'].username }}</span>
					<i class="el-icon-caret-bottom" />
				</div>
				<el-dropdown-menu slot="dropdown" class="user-dropdown">
					<router-link to="/">
						<el-dropdown-item>
							首页
						</el-dropdown-item>
					</router-link>
					<!--<a target="_blank" href="https://github.com/PanJiaChen/vue-admin-template/">-->
					<!--  <el-dropdown-item>Github</el-dropdown-item>-->
					<!--</a>-->
					<!--<a target="_blank" href="https://panjiachen.github.io/vue-element-admin-site/#/">-->
					<!--  <el-dropdown-item>Docs</el-dropdown-item>-->
					<!--</a>-->
					<el-dropdown-item divided @click.native="logout">
						<span style="display:block;">退出登录</span>
					</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/main/Breadcrumb'
import Hamburger from '@/components/main/Hamburger'

export default {
	components: {
		Breadcrumb,
		Hamburger
	},
	computed: {
		...mapGetters([
			'sidebar',
			'avatar',
			'authInfo',
			'canExpandSidebar'
		])
	},
	methods: {
		toggleSideBar() {
			this.$store.dispatch('app/toggleSideBar')
		},
		async logout() {
			await this.$store.dispatch('handleLogOut')
			this.$router.push(`/login?redirect=${ this.$route.fullPath }`)
		}
	}
}
</script>

<style lang="scss" scoped>
.navbar {
	height: 50px;
	overflow: hidden;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

	.hamburger-container {
		line-height: 46px;
		height: 100%;
		float: left;
		cursor: pointer;
		transition: background .3s;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			background: rgba(0, 0, 0, .025)
		}
	}

	.breadcrumb-container {
		float: left;
	}

	.right-menu {
		float: right;
		height: 100%;
		line-height: 50px;

		&:focus {
			outline: none;
		}

		.right-menu-item {
			display: inline-block;
			padding: 0 8px;
			height: 100%;
			font-size: 18px;
			color: #5a5e66;
			vertical-align: text-bottom;

			&.hover-effect {
				cursor: pointer;
				transition: background .3s;

				&:hover {
					background: rgba(0, 0, 0, .025)
				}
			}
		}

		.avatar-container {
			margin-right: 30px;

			.avatar-wrapper {
				margin-top: 5px;
				position: relative;

				.user-avatar {
					cursor: pointer;
					width: 40px;
					height: 40px;
					border-radius: 10px;
				}

				.el-icon-caret-bottom {
					cursor: pointer;
					position: absolute;
					right: -20px;
					top: 25px;
					font-size: 12px;
				}
			}
		}
	}
}
</style>
