<template>
	<div class="login-container">
		<el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form"
			auto-complete="on" label-position="left">
			<div class="title-container">
				<h3 class="title">Login Form</h3>
			</div>

			<el-form-item prop="username">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
				<el-input
					ref="username"
					v-model.trim="loginForm.username"
					placeholder="Username"
					name="username"
					type="text"
					tabindex="1"
					auto-complete="on"
				/>
			</el-form-item>

			<el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
				<el-input
					:key="passwordType"
					ref="password"
					v-model.trim="loginForm.password"
					:type="passwordType"
					placeholder="Password"
					name="password"
					tabindex="2"
					auto-complete="on"
					@keyup.enter.native="handleSubmit"
				/>
				<span class="show-pwd" @click="showPwd">
          <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
        </span>
			</el-form-item>

			<el-button :loading="loading" type="primary" style="width:100%;margin-bottom:30px;"
				@click.native.prevent="handleSubmit">Login
			</el-button>

			<!--<div class="tips">-->
			<!--	<span style="margin-right:20px;">username: admin</span>-->
			<!--	<span> password: any</span>-->
			<!--</div>-->

		</el-form>
	</div>
</template>

<script>
import { validUsername } from '@/utils/validate'
import { mapActions } from 'vuex';

export default {
	name: 'Login',
	data() {
		const validateUsername = (rule, value, callback) => {
			if (!value.length) {
				callback(new Error('请输入用户名'))
			} else {
				callback()
			}
		}
		const validatePassword = (rule, value, callback) => {
			if (!value.length) {
				callback(new Error('请输入密码'))
			} else {
				callback()
			}
		}
		return {
			loginForm: {
				username: '',
				password: ''
			},
			loginRules: {
				username: [{ required: true, trigger: 'blur', validator: validateUsername }],
				password: [{ required: true, trigger: 'blur', validator: validatePassword }]
			},
			loading: false,
			passwordType: 'password',
			redirect: undefined,
			otherQuery: {}
		}
	},
	watch: {
		$route: {
			handler: function(route) {
				this.redirect = route.query && route.query.redirect
				this.otherQuery = this.getOtherQuery(route.query)
			},
			immediate: true
		}
	},
	methods: {
		...mapActions(['handleLogin', 'authorityJudgement']),
		showPwd() {
			if (this.passwordType === 'password') {
				this.passwordType = ''
			} else {
				this.passwordType = 'password'
			}
			this.$nextTick(() => {
				this.$refs.password.focus()
			})
		},
		handleSubmit() {
			this.$refs.loginForm.validate(async valid => {
				console.log(valid, 'valid')
				if (valid) {
					this.loading = true

					try {
						await this.handleLogin({
							userName: this.loginForm.username,
							password: this.loginForm.password
						})
						await this.authorityJudgement()
						console.log(this.$store.getters.hasPower,'auth')
						if (this.$store.getters.hasPower) {
							this.$router.push({ path: this.redirect || '/', query: this.otherQuery })
						}
						this.loading = false
					} catch (e) {
						console.dir(e, 11)
						if(e.message.includes('timeout')){
							this.$message.error('请求超时, 请检查网络')
						}else {
							this.$message.error('请输入正确的用户名与密码')
						}
						this.loading = false
					}

				} else {
					console.log('error submit!!')
					return false
				}
			})
		},
		getOtherQuery(query) {
			return Object.keys(query)
			.reduce((acc, cur) => {
				if (cur !== 'redirect') {
					acc[cur] = query[cur]
				}
				return acc
			}, {})
		}
		// afterQRScan() {
		//   if (e.key === 'x-admin-oauth-code') {
		//     const code = getQueryObject(e.newValue)
		//     const codeMap = {
		//       wechat: 'code',
		//       tencent: 'code'
		//     }
		//     const type = codeMap[this.auth_type]
		//     const codeName = code[type]
		//     if (codeName) {
		//       this.$store.dispatch('LoginByThirdparty', codeName).then(() => {
		//         this.$router.push({ path: this.redirect || '/' })
		//       })
		//     } else {
		//       alert('第三方登录失败')
		//     }
		//   }
		// }
	}
}
</script>

<style lang="scss">
/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

//$bg: #283443;
//$light_gray: #fff;
//$cursor: #fff;
$bg: #e8eef6;
$light_gray: #283443;
$cursor: #283443;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
	.login-container .el-input input {
		color: $cursor;
	}
}

/* reset element-ui css */
.login-container {
	.el-input {
		display: inline-block;
		height: 47px;
		width: 85%;

		input {
			background: transparent;
			border: 0px;
			-webkit-appearance: none;
			border-radius: 0px;
			padding: 12px 5px 12px 15px;
			color: $light_gray;
			height: 47px;
			caret-color: $cursor;

			&:-webkit-autofill {
				box-shadow: 0 0 0px 1000px $bg inset !important;
				-webkit-text-fill-color: $cursor !important;
			}
		}
	}

	.el-form-item {
		border: 1px solid rgba(255, 255, 255, 0.1);
		//background: rgba(0, 0, 0, 0.1);
		background: #e8eef6;
		border-radius: 5px;
		color: #454545;
	}
}
</style>

<style lang="scss" scoped>
//$bg: #2d3a4b;
$dark_gray: #889aa4;
//$light_gray: #eee;
//$dark_gray: #eee;
$light_gray: #2d3a4b;

.login-container {
	min-height: 100%;
	width: 100%;
	//background-color: $bg;
	background: url("http://static.ishenzang.com/static/kidneymall/login_bg.jpg") 0 0 / cover no-repeat;
	overflow: hidden;

	.login-form {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 400px;
		max-width: 100%;
		padding: 20px 35px 20px;
		//margin: 0 auto;
		overflow: hidden;
		box-shadow: 0 0 20px 2px #d7e8fc;
		background: #fff;
		border-radius: 20px;
		transform: translate(-50%, -90%);
	}

	.tips {
		font-size: 14px;
		color: #fff;
		margin-bottom: 10px;

		span {
			&:first-of-type {
				margin-right: 16px;
			}
		}
	}

	.svg-container {
		padding: 6px 5px 6px 15px;
		color: $dark_gray;
		vertical-align: middle;
		width: 30px;
		display: inline-block;
	}

	.title-container {
		position: relative;

		.title {
			font-size: 26px;
			color: $light_gray;
			margin: 10px auto 20px auto;
			text-align: center;
			font-weight: bold;
		}
	}

	.show-pwd {
		position: absolute;
		right: 10px;
		top: 7px;
		font-size: 16px;
		color: $dark_gray;
		cursor: pointer;
		user-select: none;
	}
}
</style>
